
<div class="container text-center pt-2">
  <div class="row align-items-center">
    <div class="col fs-5">
        <i class="bi bi-info-circle"></i>
        Hủy đơn hàng thành công!
    </div>
  </div>
</div>