<div class="container-fluid d-flex justify-content-center pt-4">
    <div class="card" style="width: 420px;">
        <img src="../../img/book.jpg" class="card-img-top" alt="..." style="height: 400px; width: 400px">
        <div class="card-body">
            <h5 class="card-title fw-bolder">Bí mật của may mắn - Ebook độc quyền</h5>
            <p class="card-text text-start">Câu chuyện trong Bí Mật Của May Mắn hấp dẫn như thần thoại với những chân lý thực tế và vĩnh hằng của cuộc sống mang lại cho người đọc niềm tin, hy vọng, những trải nghiệm và lý giải tại sao một số người luôn gặp được may mắn trong khi những người khác lại không có. Cuốn sách đã mang đến cho độc giả một cái nhìn thú vị và sâu sắc về những điều kiện cần thiết để tạo ra – và duy trì – sự may mắn trong mỗi cuộc đời chúng ta.</p>
            <a href="http://localhost:3000/product/" class="btn btn-success" style="width: 50%;dispaly: flex; align-items:center">Mua hàng</a>
        </div>
    </div>
</div>
