<div class="form-box container ml-5 mt-5 pt-3 pb-3 pr-3 rounded-3" style="background: #f1f7fe;">
    <form method="post" action="/login" class="form container w-50">
        <span class="title fs-3 fw-bold" style="display: flex; justify-content: center">ĐĂNG NHẬP</span>
        <div class="mb-3 mt-3">
            <label for="exampleInputEmail1" class="form-label fw-medium">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label fw-medium">Mật khẩu</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Đăng nhập</button>
        </div>
        <div class="form-section" style="display: flex; justify-content: center">
            <p>Bạn chưa có tài khoản? <a href="/signup">Đăng ký</a> </p>
        </div>
    </form>
</div>
<div style="height: 70px;"></div>
