<div class="container mt-5">
    <h1>Example Data Display</h1>
    <div id="data-display" class="row"></div>
    <img src="" alt="">
</div>

<script type="module">
    import {data} from '../../product.js'

    document.addEventListener('DOMContentLoaded', function() {    
        function createCard(item) {
            return `
                <div class="col-md-3">
                    <div class="card mb-4 border border-dark rounded-3">
                        <a href="/product/detail" class="border-bottom border-dark">
                            <img src="${item.img}" class="card-img-top" alt="${item.name}">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">${item.name}</h5>
                            <p class="card-text">${item.id}</p>
                            <p class="card-text">Size: ${item.size}</p>
                            <p class="card-text">Occupation: ${item.occupation}</p>
                            <button class="btn btn-primary view-details" data-id="${item.id}">View Details</button>
                        </div>
                    </div>
                </div>
            `;
        }

        const displayContainer = document.getElementById('data-display');

        displayContainer.innerHTML = data.map(createCard).join('');

        displayContainer.querySelectorAll('.view-details').forEach(button => {
            button.addEventListener('click', function() {
                // Get the id of the selected item
                const itemId = parseInt(button.getAttribute('data-id'));
                
                // Store the selected item id in session storage
                sessionStorage.setItem('selectedItemId', itemId);

                // Navigate to detail page
                window.location.href = '/product/detail';
            });
        });
    });

</script>