<div class="container-fluid" style="width: 90%">
    <section>
        <h1>Hệ thống cửa hàng</h1>
        <hr>
    </section>
    <section>
        <div class="input-group mb-3" style="width: 50%;">
            <input type="text" class="form-control" placeholder="Mã bưu chính, địa chỉ, tên của hàng"
                aria-label="Mã bưu chính, địa chỉ, tên của hàng" aria-describedby="basic-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"><i
                    class="bi bi-search"></i></button>
        </div>
        <p><i class="bi bi-geo-alt-fill"></i><a href="#" style="color: black; text-decoration: underline">Sử dụng vị trí
                hiện tại</a></p>
    </section>
    <section>
        <div class="container text-left">
            <div class="row">
                <div class="col-sm-4">
                    <img src="../../img/googlemap.jpg" alt="">
                    <p>API Google map here !!!</p>
                </div>
                <div class="col-sm-8">
                    <h3>Tất cả cửa hàng</h3>
                    <hr>
                    <section>
                        <h5>"HÃNG" QUẬN 1</h5>
                        <p>Cửa hàng lớn</p>
                    </section>
                    <hr>
                    <section>
                        <h5>"HÃNG" QUẬN 2</h5>
                        <p>Cửa hàng lớn</p>
                    </section>
                    <hr>
                    <section>
                        <h5>"HÃNG" QUẬN 3</h5>
                        <p>Cửa hàng tiêu chuẩn</p>
                    </section>
                    <hr>
                    <section>
                        <h5>"HÃNG" QUẬN 4</h5>
                        <p>Cửa hàng tiêu chuẩn</p>
                    </section>
                    <hr>
                    <section>
                        <h5>"HÃNG" QUẬN 5</h5>
                        <p>Cửa hàng vừa</p>
                    </section>
                    <hr>
                    <section>
                        <h5>"HÃNG" QUẬN 9</h5>
                        <p>Cửa hàng nhỏ</p>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>