<div class="form-box container ml-5 mt-5 pt-3 pb-3 pr-3 rounded-3" style="background: #f1f7fe;">
    <form method="post" action="/signup" class="form container w-50">
        <span class="title fs-3 fw-bold" style="display: flex; justify-content: center">ĐĂNG KÝ THÀNH VIÊN</span>
        <div class="mb-3 mt-3">
            <label for="exampleInputFullname1" class="form-label fw-medium">Họ và tên</label>
            <input type="text" name="name" class="form-control" id="exampleInputFullname1" placeholder="Nguyễn Văn A">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-medium">Email</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
        </div>
        <div class="mb-3">
            <label for="exampleInputPhone1" class="form-label fw-medium">Số điện thoại</label>
            <input type="tel" name="phone" class="form-control" id="exampleInputPhone1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label fw-medium">Mật khẩu</label>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputRePassword1" class="form-label fw-medium">Nhập lại mật khẩu</label>
            <input type="password" name="repassword" class="form-control" id="exampleInputRePassword1">
        </div>
        <div style="text-align: center;">
            <button type="submit" class="btn btn-primary">Đăng ký</button>
        </div>
        <div class="form-section" style="display: flex; justify-content: center">
            <p>Bạn đã có tài khoản. <a href="/login">Đăng nhập</a> </p>
        </div>
    </form>
</div>
<div style="height: 70px;"></div>
