<div class="container text-center pt-2">
  <div class="row align-items-center">
    <div class="col fs-5">
        <i class="bi bi-info-circle"></i>
        Thanh toán đơn hàng thành công!
    </div>
    <div class="">
        <button class="btn btn-success">
            <a href="https://drive.google.com/file/d/1DaoW9CH7ri29mHZ5Qtxl6uMo-wH3X4ol/view" class="text-white text-decoration-none">Link Ebook</a>
        </button>
    </div>
  </div>
</div>