<!-- Navbar-->
<nav class="navbar navbar-expand-lg sticky-top" style="background-color: #77DD77; height: 110px">
  <div class="container-fluid">
    <div>
      <a class="navbar-brand fs-1 fw-semibold" href="http://localhost:3000/">EBOOK STORE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" href="http://localhost:3000/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active fs-5" aria-current="page" href="http://localhost:3000/product/">Ebook</a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5" href="#">Trợ giúp</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
